.moviecard {
    max-width: 32rem;
}
.moviecard__like-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 100;
}

.moviecard__poster-img {
    max-width: clamp(10rem, 18rem, 32rem);
}

.moviecard__wrapper {
    position: relative;
    display: flex;
    height: 100%;
}