<div class="moviecard__wrapper">
  <!-- Floating favourite button -->
  <ion-button *ngIf="isFav; else isNotFav" class="moviecard__like-btn" shape="round" translucent="true" (click)="removeFavourite(movie); $event.preventDefault; $event.stopPropagation;">
    <ion-icon slot="icon-only" name="heart" close-icon="heart"></ion-icon>
  </ion-button>
  <ion-card class="moviecard" button="true" [routerLink]="['/movie-details/', movie.id]">
    <img class="moviecard__poster-img" alt="Movie poster" src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" />
    <ion-card-header>
      <ion-card-title class="moviecard__title">{{ movie.title }}</ion-card-title>
      <ion-card-subtitle>
        <ion-icon name="star"></ion-icon>
        {{ movie.vote_average }}
      </ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content class="moviecard__overview-text">
      {{ movie.overview }}
    </ion-card-content>
    <!-- Off screen label that animates in when hovering to show whole card is clickable -->
    <span class="moviecard__floating-label">
      View Details
      <ion-icon slot="icon-only" name="arrow-forward-circle-outline"></ion-icon>
    </span>
  </ion-card>
</div>
  
  <ng-template #isNotFav>
    <!-- $event.stopPropagation() allows the button to be clicked without triggering the parent action (entering the movie-details page), preventDefault needed too. -->
    <ion-button  class="moviecard__like-btn" shape="round" translucent="true" (click)="saveFavourite(movie); $event.preventDefault; $event.stopPropagation;">
      <ion-icon name="heart-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ng-template>