<ion-card class="moviecard" button="true" [routerLink]="['/movie-details/', movie.id]">
  <ion-button class="moviecard__like-btn" shape="round" translucent="true" (click)="saveFavourite(movie)">
    <ion-icon slot="icon-only" name="heart-outline" close-icon="heart"></ion-icon>
  </ion-button>
  <img class="moviecard__poster-img" alt="Movie poster" src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" />
  <ion-card-header>
    <ion-card-title>{{ movie.title }}</ion-card-title>
    <ion-card-subtitle>
      <ion-icon name="star"></ion-icon>
      {{ movie.vote_average }}
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="moviecard__overview-text">
    {{ movie.overview }}
  </ion-card-content>
</ion-card>