<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       Favourite Movies
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let fav of favouritesToDisplay" sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="2">
        <movie-card  [movie]="fav"></movie-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
