<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <!-- my student number :) -->
      G00472944
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/favourites">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <!-- Using keydown.enter instead of ionchange so that it only fires when the user hits their enter key, not when focus is lost. -->
      <ion-searchbar (keydown.enter)="searchForMovies()" [(ngModel)]="searchTerm" animated="true" placeholder="Movie Name..." show-clear-button="focus"></ion-searchbar>
      <!-- Firing the search with the Button -->
      <ion-button (click)="searchForMovies()" expand="full">Search</ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button [color]="trendingBtnColor" (click)="getTrendingMovies()">Trending Movies</ion-button>
        <ion-button [color]="topRatedBtnColor" (click)="getTopRatedMovies()">Top Rated Movies</ion-button>
        <ion-button [color]="upcomingBtnColor" (click)="getUpcomingMovies()">Upcoming Movies</ion-button>
        <ion-button [color]="playingBtnColor" (click)="getPlayingMovies()">Currently Playing Movies</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="2" *ngFor="let movie of moviesToShow">
        <!-- Rendering our moviecard components -->
        <movie-card [movie]="movie"></movie-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
