<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00472944
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-searchbar search-icon="search-circle" placeholder="Movie Name"></ion-searchbar>
      <ion-button>Search</ion-button>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Todays Tending Movies</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <movie-card *ngFor="let movie of trendingMovies" [movie]="movie"></movie-card>
</ion-content>
